version: '2'
services:
    site2:
        image: nginx
        volumes:
        - ./site.template:/etc/nginx/conf.d/site.template
        - ./public:/var/www/public
        expose:
        - "80"
        environment:
        - VIRTUAL_HOST=site2.docker-proxy.dev
        - NGINX_HOST=site2.docker-proxy.dev
        - NGINX_PORT=80
        command: /bin/bash -c "envsubst < /etc/nginx/conf.d/site.template > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"
networks:
    default:
        external:
            name: reverseproxy_default
